{% assign item = include.item %}
<article class="news-item">
  <div class="news-item__meta">
    {% if item.date %}
      <time datetime="{{ item.date }}">{{ item.date | date: "%B %-d, %Y" }}</time>
    {% endif %}
    {% if item.category %}
      <span class="tag-pill">{{ item.category }}</span>
    {% endif %}
  </div>
  <h3 class="news-item__title">{{ item.title }}</h3>
  {% if item.blurb %}
    <div class="news-item__blurb">{{ item.blurb | markdownify }}</div>
  {% endif %}
  {% if item.url %}
    <a class="news-item__link" href="{{ item.url }}">{{ item.link_label | default: "Learn more" }}</a>
  {% endif %}
</article>
